ion-buttons{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .imagen-agrandada {
    width: 400%; /* Ancho del 100% del contenedor */
    height: auto; /* Altura automática para mantener la relación de aspecto original */
    max-width: 100%; /* Limitar el ancho máximo para evitar desbordamiento */
    max-height: 100%; /* Limitar la altura máxima para evitar desbordamiento */
  }
  