<ion-content>
  <ion-img src="https://previews.123rf.com/images/topvectors/topvectors2104/topvectors210400837/172089772-conjunto-de-recolecci%C3%B3n-de-basura-camiones-de-basura-naranja-y-trabajadores-de-carro%C3%B1eros-que.jpg" class="imagen-agrandada"></ion-img>

<div class="card-container">
<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>Nuevas Rutas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Siendo precisos en ubicar tu camión recolector
  </ion-card-content>
</ion-card>
</div>
<div class="ion-padding">
<img src="" alt="">
</div>



</ion-content>
<ion-buttons slot="start">
      <ion-back-button defaultHref="/home"  text="Regresar"></ion-back-button>
    </ion-buttons>