
<ion-content>
<div class="card-container">
<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-subtitle> <ion-icon name="calendar-number-outline"></ion-icon> Julio 15</ion-card-subtitle>
    <ion-card-title>Servicios Zona Azul <ion-icon name="trash-outline" ></ion-icon></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    INFORMACIÓN DE LA ZONA
  </ion-card-content>
</ion-card>
</div>

<ion-card class="card" color="success">
  <ion-card-header>
    <ion-card-subtitle> Agosto 15 <ion-icon name="calendar-number-outline"></ion-icon> </ion-card-subtitle>
    <ion-card-title>Servicios Zona Verde</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
   INFORMACIÓN DE LA ZONA
  </ion-card-content>
  <img src="" alt="">
</ion-card>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button shape="round" [routerLink]="['/explorar']" tab="explorar">
      <ion-icon  name="search"></ion-icon>
        Explorar
    </ion-tab-button>
    <ion-tab-button shape="round" [routerLink]="['/calendario']" tab="calendario">
      <ion-icon  name="calendar"></ion-icon>
        Calendario
    </ion-tab-button>
    <ion-tab-button shape="round" [routerLink]="['/novedades']" tab="novedades">
      <ion-icon  name="information-circle-outline"></ion-icon>
        Novedades
    </ion-tab-button>
  
      <ion-tab-button shape="round" [routerLink]="['/alertas']" tab="alertas">
      <ion-icon  name="alert-circle-outline"></ion-icon>
        Alertas
    </ion-tab-button>
  </ion-tab-bar>
  
 




